<div class="content">

      <div class="container mt32">
            <div class="row">
                  <div class="col">
                        <div class=" d-flex  justify-content-center ">
                              <div class="author-name">
                                    <h5 class="">Ravi Rajput</h5>
                              </div>
                        </div>

                  </div>

            </div>
            <div class="row mv16">
                  <div class="col">
                        <div class="d-flex justify-content-center">
                              <div class="author-desc">
                                    <p>
                                          Angular developer expert and software engineer at Crawlink networks,
                                          Bengaluru, India
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
            <hr>



            <div class="row mt32">
                  <div class="col">
                        <div class="menu-item p16">
                              Posts
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col">
                        <div class="menu-item p16">
                              About
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col">
                        <div class="menu-item p16">
                              Hire me
                        </div>
                  </div>
            </div>
            <div class="row mb32">
                  <div class="col">
                        <div class="menu-item p16">
                              Resume
                        </div>
                  </div>
            </div>

            <hr>
            <div class="row">
                  <div class="col">
                        <div class="d-flex justify-content-center">
                              <i class="fab fa-facebook-f "></i>
                              <i class="fab fa-twitter ml16"></i>
                              <i class="fab fa-github ml16"></i>
                        </div>
                  </div>
            </div>
      </div>
</div>