<div class="content">

      <div class="container mt32">
            <div class="row">
                  <div class="col">
                        <div class=" d-flex  justify-content-center ">
                              <div class="author-name">
                                    <h4>Hashstack.tech</h4>
                              </div>
                        </div>

                  </div>

            </div>
            <div class="row">
                  <div class="col">
                        <div class=" d-flex  justify-content-center ">
                              <div class="author-name">
                                    <h5 class="">Ravi Rajput</h5>
                              </div>
                        </div>

                  </div>

            </div>
            <div class="row mv16">
                  <div class="col">
                        <div class="d-flex justify-content-center">
                              <div class="author-desc">
                                    <p>
                                          Full Stack developer & Software engineer
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
            <hr>



            <div class="row mt32">
                  <div class="col">
                        <div class="menu-item p16" routerLink="">
                              Posts
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col">
                        <div routerLink="/about" class="menu-item p16">
                              About
                        </div>
                  </div>
            </div>
            <!-- <div class="row">
                  <div class="col">
                        <div class="menu-item p16">
                              Hire me
                        </div>
                  </div>
            </div>
            <div class="row mb32">
                  <div class="col">
                        <div class="menu-item p16">
                              Resume
                        </div>
                  </div>
            </div> -->

            <hr>
            <div class="row">
                  <div class="col">
                        <div class="d-flex justify-content-center">
                              <a href="https://www.facebook.com/rvrj.rcks">
                                    <i class="fab fa-facebook-f ml16 "></i>
                              </a>

                              <a href="https://twitter.com/rvtweeets">
                                    <i class="fab fa-twitter ml16"></i>
                              </a>

                              <a href="https://github.com/Ravslee">
                                    <i class="fab fa-github ml16"></i>
                              </a>
                        </div>
                  </div>
            </div>
      </div>
</div>