<div class="pb32">
  <div>
    <div class="header" style="background-image: url('assets/img/about/1.jpg')">
      <div class="header-text">
        {{post?.subTitle}}

      </div>
    </div>
  </div>

  <article class="blog-card pv16">
    <div class="article-title">
      <h1>About me</h1>
    </div>
    <div class="divider"></div>


    <div class="article-content">
      <ul>
        <li>
          Live in Bengaluru, IN
        </li>
        <li>
          Software developer
        </li>
        <li>
          Bachelor of Engineering in Computer Science
        </li>
      </ul>



    </div>
    <div class="msg p32">
      I strongly believe the internet will always serve as a medium of communication, interaction and learning. Creating
      internet applications that enhance these goals with the adaptability for any device will succeed through providing
      value for businesses, organizations and people.

    </div>

   

    <div class="article-content">
        <h2>Things to learn</h2>
        <div class="divider-left"></div>

      <ul>
        <li>
          Flutter
        </li>
        <li>
          Graph QL
        </li>

      </ul>
    </div>

  </article>

</div>