@media (max-width: 992px) {
    #sidebar {
        display: none;

    }

    .main{
        margin-left:0px !important;
    }


.header{
    display: block !important;
}
}


.main{
    margin-left:196px;
}

.header{
    display: none;
}