<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 p8 " *ngFor="let blog of blogs;let i=index">

      <div class="blog-card" routerLink="post/{{blog._id}}">
        <div class="overlay"></div>

        <div class="blog-media" *ngIf="blog.banner" [style.background-image]="getSafeUrl(blog.banner)">
          <div class="blog-media-text">
            {{blog.shortTitle}}
          </div>
        </div>

        <div class="blog-media" style="background: #212529" *ngIf="!blog.banner">
          <div class="blog-media-text">
            {{blog.shortTitle}}
          </div>
        </div>

        <div class="blog-content p16 text-center">

          <small>{{blog.updatedAt | date}}</small>
          <div class="divider"></div>
          <small>{{blog.title}}</small>

        </div>
      </div>
    </div>
  </div>
</div>